body{
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
}

.contenedor1{
  display: flex;
  flex-direction: column;
}

.principal{
  flex-grow: 1;
}

@media (max-width: 640px) {
  body {
    flex-direction: column-reverse;
  }
  div.sidebar {
    flex-direction: row;
    justify-content: space-between;
  }
}